<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="decription" content="Religion">
    <meta name="keywords" content="Lessons Pshalm 127-5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="autor" content="Juan Martinez">
    <meta charset="UTF-8">
    <title>Psalm 127-1</title>
    <link rel="stylesheet" href="../assets/please-wait/js/please-wait.css">
    <link rel="stylesheet" href="../css/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/css/font-awesome.min.css ">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/lessons.css">
</head>

<body>
    <!-- Section of header -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(128,0,0)">
        <a class="navbar-brand" href="../index.html">
            <!-- <span class="font-weight-bold">Psalm</span><span class="disabled">127-1</span> -->
            <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/969/1573016969_2f91ff63-3035-41da-a665-d1efd145bc1b.png?cb=1547190880"
                alt="" height="30" width="60">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Content</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">English</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Spanish</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control search mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light search-button my-2 my-sm-0" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
    <!-- End Header -->
    <!-- Main -->
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                        href="#list-home" role="tab" aria-controls="home">Home</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
                        role="tab" aria-controls="profile">Lesson 1 <span class="badge badge-danger float-right">4</span></a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages"
                        role="tab" aria-controls="messages">Lesson 2 <span class="badge badge-danger float-right">4</span></a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings"
                        role="tab" aria-controls="settings">Lesson 3 <span class="badge badge-danger float-right">4</span></a>
                    <a class="list-group-item list-group-item-action" id="list-lesson4-list" data-toggle="list" href="#list-lesson4"
                        role="tab" aria-controls="settings">Lesson 4 <span class="badge badge-danger float-right">4</span></a>
                    <a class="list-group-item list-group-item-action" id="list-lesson5-list" data-toggle="list" href="#list-lesson5"
                        role="tab" aria-controls="settings">Lesson 5 <span class="badge badge-danger float-right">4</span></a>
                    <a class="list-group-item list-group-item-action" id="list-lesson6-list" data-toggle="list" href="#list-lesson6"
                        role="tab" aria-controls="settings">Lesson 6 <span class="badge badge-danger float-right">4</span></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <h2 class="text-danger">All Lessons</h2>
                        <hr class="py-2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsa unde ratione ea. Vel
                            laborum pariatur vitae, doloremque fugit asperiores itaque nemo tempore nesciunt atque
                            harum soluta esse commodi excepturi!</p>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <h2 class="text-danger">Lesson 1</h2>
                        <hr class="py-2">
                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1231230/pexels-photo-1231230.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1116302/pexels-photo-1116302.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/818252/pexels-photo-818252.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1374542/pexels-photo-1374542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <h2 class="text-danger">Lesson 2</h2>
                        <hr class="py-2">
                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1231230/pexels-photo-1231230.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1116302/pexels-photo-1116302.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/818252/pexels-photo-818252.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1374542/pexels-photo-1374542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <h2 class="text-danger">Lesson 3</h2>
                        <hr class="py-2">
                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1231230/pexels-photo-1231230.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1116302/pexels-photo-1116302.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/818252/pexels-photo-818252.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1374542/pexels-photo-1374542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-lesson4" role="tabpanel" aria-labelledby="list-lesson4-list">
                        <h2 class="text-danger">Lesson 4</h2>
                        <hr class="py-2">
                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1231230/pexels-photo-1231230.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1116302/pexels-photo-1116302.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/818252/pexels-photo-818252.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1374542/pexels-photo-1374542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-lesson5" role="tabpanel" aria-labelledby="list-lesson5-list">
                        <h2 class="text-danger">Lesson 5</h2>
                        <hr class="py-2">
                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1231230/pexels-photo-1231230.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1116302/pexels-photo-1116302.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/818252/pexels-photo-818252.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1374542/pexels-photo-1374542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-lesson6" role="tabpanel" aria-labelledby="list-lesson6-list">
                        <h2 class="text-danger">Lesson 6</h2>
                        <hr class="py-2">
                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1231230/pexels-photo-1231230.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1116302/pexels-photo-1116302.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/818252/pexels-photo-818252.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <div class="card shadow-lg mb-3" style="width: 18rem;">
                                    <div class="content-img">
                                        <img src="https://images.pexels.com/photos/1374542/pexels-photo-1374542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                            class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of
                                            the card's content.</p>
                                        <a href="#" class="btn btn-outline-danger">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main -->
    <!-- Footer -->
    <footer class="page-footer font-small bg-light shadow-lg">
        <!-- Footer Elements -->
        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2019 Copyright:
            <a>David Helm</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script type="text/javascript" src="../assets/please-wait/js/please-wait.js"></script>
    <script src="../js/jquery/dist/jquery.min.js"></script>
    <script src="../js/popper/umd/popper.min.js"></script>
    <script src="../js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>